---
import { SITE_TITLE } from "../consts";
---

<header class="relative px-5 lg:px-8 2xl:px-0">
  <nav class="mx-auto flex h-14 max-w-7xl items-center justify-between">
    <a class="font-bold hover:bg-yellow-200 md:text-lg" href="/">{SITE_TITLE}</a
    >
    <a class="hover:bg-yellow-200" href="/search">
      <svg
        class="h-5 w-5 md:h-6 md:w-6"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
        ></path></svg
      ></a
    >
  </nav>
  <div class="squiggle absolute bottom-0 left-0 w-full border-b-2 border-black">
  </div>
</header>
