---
import { Image } from "astro:assets";
import PlaceholderImage from "@/assets/blog-placeholder-1.jpg";
---

<a
  href="/posts/post1"
  class="flex flex-1 basis-96 flex-col overflow-hidden rounded-xl shadow-lg transition-all duration-100 hover:-translate-y-2 hover:shadow-xl"
>
  <Image
    class="squiggle aspect-[2/1] w-full object-cover"
    src={PlaceholderImage}
    alt=""
    widths={[640, 1280, PlaceholderImage.width]}
    sizes="(min-width: 1280px) and (max-width: 1920px) 640px, 1280px"
  />
  <div class="flex flex-1 flex-col justify-between gap-y-1.5 px-6 py-4">
    <h3 class="text-lg font-bold md:text-xl">
      Introducing Astro: Ship Less JavaScript
    </h3>
    <span class="mt-auto text-sm">06-08-2021</span>
  </div>
</a>
