---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "flex w-full max-w-screen-xl flex-wrap justify-center gap-x-5 gap-y-6 pt-12 lg:gap-x-8 lg:gap-y-8 lg:pt-24",
    className,
  ]}
>
  <slot />
</div>
