---
import Layout from "@/layouts/Layout.astro";
import Post from "@/components/Post.astro";
import PostsWrapper from "@/components/PostsWrapper.astro";
import ArrowRight from "@/components/ArrowRight.astro";
---

<Layout>
  <section
    class="flex min-h-[calc(100vh-3.5rem)] flex-col items-center px-5 py-12 lg:px-8 lg:py-24"
  >
    <h1
      class="font-display text-[clamp(2.9rem,6vw,6rem)] font-black uppercase leading-none"
    >
      Zakreślacz
    </h1>
    <h2 class="mt-2 md:mt-4 md:text-lg">
      <span class="mark">Prosty Blog</span> - Revised
    </h2>
    <PostsWrapper>
      <Post />
      <Post />
      <Post />
    </PostsWrapper>

    <a class="group flex items-center gap-x-1 text-xl font-bold" href="/posts"
      >Zobacz Wszystkie
      <ArrowRight
        class="transition-transform duration-100 group-hover:translate-x-2"
      /></a
    >
  </section>
</Layout>
