---
import type { Post } from "payload/generated-types";
import PayloadImage from "@/components/PayloadImage";

type Props = Post;

const { id, slug, title, image, content_html } = Astro.props;
---

<article class="mx-auto w-full max-w-3xl">
  <h1
    class="mx-auto max-w-lg text-balance pb-8 text-center font-display text-3xl font-black md:max-w-screen-md md:text-5xl lg:pb-16 lg:text-6xl"
  >
    {title}
  </h1>
  <PayloadImage image={image} viewTransitionName={slug ?? id} lazy={false} />
  <div
    class="prose prose-lg mx-auto py-4 hover:prose-a:bg-yellow-highlight prose-img:mx-auto lg:py-8"
    set:html={content_html}
  />
</article>
