---
import "@fontsource-variable/anybody";

import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer/index.astro";
import { payloadFetch } from "@/payload";
import type { Media, Setting } from "payload/generated-types";

export type BaseHeadProps = {
  title: string;
  description: string;
  ogImage?: Media;
};

type Props = {
  class?: string;
} & Partial<Omit<BaseHeadProps, "description">>;

const { class: className, title } = Astro.props;

const settings = await payloadFetch<Setting>("globals/settings");

const websiteTitle = settings?.websiteTitle ?? "";
---

<!doctype html>
<html lang="pl">
  <head>
    <BaseHead
      title={title ? `${title} | ${websiteTitle}` : websiteTitle}
      description={settings?.websiteDescription ?? ""}
    />
    <style is:global>
      .mark {
        margin: 0 -0.4em;
        padding: 0.1em 0.4em;
        border-radius: 0.8em 0.3em;
        background: transparent;
        background-image: linear-gradient(
          to right,
          rgba(255, 225, 0, 0.15),
          rgba(255, 225, 0, 0.6) 10%,
          rgba(255, 225, 0, 0.1)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }

      .squiggle {
        filter: url(#squiggle);
      }
    </style>
  </head>
  <body class="text-gray-900">
    <Navigation websiteTitle={settings?.websiteTitle ?? ""} />
    <main
      class:list={[
        "flex min-h-[calc(100vh-3.5rem)] flex-col items-center px-5 lg:px-8",
        className,
      ]}
    >
      <slot />
    </main>
    <Footer
      websiteTitle={settings?.websiteTitle ?? ""}
      socials={settings?.socials ?? []}
    />
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
      <defs>
        <filter id="squiggle">
          <feTurbulence
            type="fractalNoise"
            id="turbulence"
            baseFrequency=".04"
            numOctaves="3"></feTurbulence>
          <feDisplacementMap id="displacement" in="SourceGraphic" scale="4"
          ></feDisplacementMap>
        </filter>
      </defs>
    </svg>
  </body>
</html>
